<footer class="text-white-50 py-4 bg-secondary mt-3 px-3" th:fragment="footer">
    <div class="containerFooter">
        <span class="mb-1">Copyright HernanEncizo &copy;2022</span><br>
        <span class="mb-0">New to Bootstrap? <a href="/" class="text-info">Visit the homepage</a> or read our <a class="text-info" href="../getting-started/introduction/">getting started guide</a>.</span>
        <span class="float-end mb-1">
            <a href="#" style="text-decoration:none" class="text-info"><span></span> Back to top</a>
        </span>
    </div>
</footer>
