<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Detalle de la Noticia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>

    <body>
        <!-- header con el navbar traida desde templates/fragments (ahorro de codigo repetido)-->
        <header th:replace="fragments/navbar :: _navbar"></header>

        
        <!-- Detalle de la noticia-->
        <div class="container my-5 ">
            
            <div class="card border-light rounded-5" th:object="${noticia}">
                <div class="card-body text-center">
                    <h2 class="card-title m-4" th:text="*{titulo}" >Card title</h2>
                    <p class="card-text pt-2" th:text="*{cuerpo}" >This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text" th:text="*{alta}" ><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <img th:src="*{imagen}" class="card-img-bottom img-fluid" alt="...">
            </div>
            
        </div>

        <!-- PIE DEL ARCHIVO traida tambien de templates/fragments -->
        <footer th:replace="fragments/footer :: _footer"></footer>
    </body>

</html>
