<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pagina de errores</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>

    <body>
        <header th:replace="fragments/navbar :: navbar"></header>

        <div class="container">

            <div class="row">

                <div class="col">
                    <div class="alert alert-danger mt-5" role="alert" th:if="${error}">
                        <span th:text="${error}"></span>
                    </div>
                </div>
                <div class="alert alert-danger mt-5" role="alert" th:unless="${error}"> <!-- caso por falso-->
                    Hubo un error willi
                </div>

            </div>

        </div>


    </body>
</html>
