<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificar Noticia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    
    <body>
        
        
        <header th:replace="fragments/navbar :: _navbar"></header>

        <div class="container">

            <h1 class="text-center mt-5">MODIFICAR</h1>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="card mb-5">
                        <div class="card-body">



                            <form th:action="@{/admin/modificar/__${noticia.id}__}" method="POST">
                                <input hidden th:value= "${id}" name="id">
                                <!--DEBAJO DE CARD-BODY FUNCIONA-->
                                <!-- PARA ERRORES O EXITOS THYMELIFE-->
                                <!-- SI en el modelo existe una variable que esta inyectando un error lo vamos a mostrar-->
                                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
                                    <div class="card-body">
                                        <h5 class="card-title">¡Error!</h5>
                                        <p class="card-text" th:text="${error}"></p>
                                    </div>
                                </div>

                                <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                                    <div class="card-body">
                                        <h5 class="card-title">Exito!</h5>
                                        <p class="card-text" th:text="${exito}"></p>
                                        <!-- SI en el modelo existe una variable que esta inyectando un EXITO lo vamos a mostrar-->
                                    </div>
                                </div>

                                <div class="row g-3">

                                    <div class="form-group col-md-12">
                                        <strong><label for="titulo">Titulo de la Noticia:</label></strong>
                                        <input type="text" name="titulo" th:value="${noticia.titulo}" class="form-control" placeholder="Ingrese el titulo de la noticia" required>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <strong><label for="cuerpo">Cuerpo de la Noticia:</label></strong>
                                        <textarea name="cuerpo" th:value="${noticia.cuerpo}" class="form-control" rows="5" placeholder="Ingrese el cuerpo de la noticia" required></textarea>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <strong><label for="titulo">Imagen de la Noticia:</label></strong>
                                        <input type="text" name="imagen" th:value="${noticia.imagen}" class="form-control" placeholder="Ingrese la URL de la imagen de la noticia" required>      
                                    </div>
                                </div>

                                <div class="row m-3">
                                    <div class="col-md-6">
                                        <button class="btn btn-danger" type="reset" style="width:100%">Resetear
                                            Formulario
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-success" type="submit" style="width:100%">Guardar</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: _footer"></footer>
        
    </body>
    
</html>
